# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database & user data
*.db
*.sqlite3
upload_bots/
inf/

# Logs
*.log
